* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* it is used for all text family */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* Header section starts here */
.hero {
  display: flex;
  justify-content: space-between;
  margin: 16px 120px;
  align-items: center;
}

.hero .menu a {
  font-size: 16px;
  line-height: 152%;
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.hero ul {
  list-style-type: none;
  text-decoration: none;
}
.hero .menu {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.hero button a {
  list-style-type: none;
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 16px;
}
.hero #btn {
  background-color: #469165;
  border: none;
  padding: 16px 12px;
  border-radius: 4px;
}
.hero #btn:hover {
  background-color: #2f6f4e;
  color: #ffffff;
}
/* ends of hero/header section */

/* this is used for banner section */
/* banner section start here */
.banner-section {
  background: url(/assets/hero-bg.png);
  gap: 40px;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  height: 674px;
  width: 100%;
  /* border: 1px solid red; */
  background-size: cover;
  display: flex;
}
.banner-section #access-section {
  color: #469165;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.test {
  border-radius: 1000px;
  background-color: #ffffff;
  padding: 9.5px 12px 9.5px 16px;
  display: flex;
}
.banner-head {
  text-align: center;
  margin: 70px 120px 134px 120px;
  justify-content: center;
}
.banner-heading h1 {
  font-size: 72px;
  font-weight: bold;
  color: white;
  line-height: 84px;
}
.banner-heading span {
  color: #30b868;
  margin-bottom: 16px;
}
.banner-heading p {
  font-size: 18px;
  color: white;
  line-height: 2;
  letter-spacing: 50%;
  margin: 20px auto 32px;
  font-weight: 400;
  /* background-color: red; */
}
.banner-btn a {
  list-style-type: none;
}
.banner-btn a {
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 4px;
}
.banner-btn .start-btn {
  background-color: #469165;
  margin-right: 16px;
  border: none;
}
.banner-btn :hover {
  background-color: #2f6f4e;
  color: #ffffff;
}
.banner-btn .see-btn {
  background-color: transparent;
  border: 2px solid white;
}
.see-btn:hover {
  background-color: transparent;
  backdrop-filter: blur(100px);
}
.pill-shaped-color {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}
.pill-shaped-color-1 {
  background-color: #469165;
  height: 16px;
  width: 16px;
  border-radius: 100%;
  opacity: 20%;
  position: absolute;
}
.pill-shaped-color-2 {
  background-color: #469165;
  height: 12px;
  width: 12px;
  border-radius: 100%;
  opacity: 40%;
  position: absolute;
}
.pill-shaped-color-3 {
  background-color: #469165;
  height: 6px;
  width: 6px;
  border-radius: 100%;
  position: absolute;
}
/* end of banner section */

/* this is used for note section  */
/* note section start here  */
.note-text {
  text-align: center;
}
.note-card {
  padding: 0 120px 0px 120px;
}
.note-heading .note-text h2 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
}
.note-heading .note-text p {
  font-size: 16px;
  font-weight: 400;
  color: #627382;
  margin-bottom: 44px;
}
.note-card {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.card-1 {
  padding: 24px;
  margin: 24px 0px;
  text-align: center;
  width: 322px;
  height: 300px;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 -6px 16px rgba(0, 0, 0, 0.1), 6px 0 16px rgba(0, 0, 0, 0.1),
    -6px 0 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.card-1 img {
  border: none;
  background-color: #f95555;
  border-radius: 100%;
  width: 65px;
  height: 65px;
  margin-top: 24px;
  padding: 15px 12px;
  margin-bottom: 16px;
}
.card-1 h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 16px;
}
.note-card .card-1 p {
  font-size: 16px;
  font-weight: 400;
  color: #627382;
}
.note-heading,
.note-card {
  background-color: white;
}
/* ends of note section */

/* this is used for brain/main/article section  */
/* brain section starts here  */
.brain-section {
  padding: 120px;
  justify-content: center;
  background-color: white;
}
.brain-content {
  display: flex;
  gap: 85px;
  align-items: center;
  justify-content: center;
  justify-content: left;
  margin-top: -10px;
}
.brain-content img {
  width: 600px;
  height: 600px;
}
.brain-content h4 {
  font-size: 16px;
  font-weight: 500px;
  line-height: 20px;
  color: #469165;
  margin-bottom: 16px;
}
.brain-content h2 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
}
.brain-content p {
  font-size: 16px;
  font-weight: 400;
  color: #627382;
  line-height: 20px;
  margin-bottom: 40px;
}
.brain-content ul {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #001931;
  text-decoration: none;
}
.bottom-mar {
  margin-bottom: 16px;
  list-style-type: none;
}
.bottom-mar img {
  max-width: 16.25px;
  max-height: 16.25px;
  margin-right: 6px;
}
/* ends of brain section */

/* this is used for CHALLENGES/early access section  */
/* early access section starts here  */
.Early-Access-section {
  background-color: #f7f6f2;
  margin: 2px 120px 120px 120px;
  border-radius: 12px;
  max-height: 384px;
  text-align: center;
  justify-content: space-between;
  justify-items: center;
  padding: 80px 40px;
}
.early-contaxt h2 {
  font-size: 40px;
  font-weight: 700px;
  margin: 16px;
}
.early-contaxt .first-p {
  font-size: 16px;
  font-weight: 400;
  color: #627382;
  line-height: 20px;
  margin-bottom: 24px;
}
.early-contaxt .early-btn {
  background-color: #469165;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 4px;
  margin-bottom: 16px;
}
.early-contaxt .early-btn:hover {
  background-color: #2f6f4e;
  color: #ffffff;
}
.early-contaxt .second-p {
  font-size: 16px;
  font-weight: 400;
  color: #627382;
  line-height: 20px;
  margin-top: 24px;
}
/* ends of early section */

/* this is used for footer section  */
/* footer section starts here  */
.footer-section {
  padding: 120px 120px 30px 120px;

  background-color: #001931;
}
.footer-contant {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.social-link {
  color: white;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400px;
  padding-right: 107px;
}
.footer-contant hr {
  color: white;
}
.footer-text {
  text-align: center;
  color: white;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 400px;
  line-height: 24px;
}
/* ends of journey assignment-01 */
/* developer by MD RATUL */
